// $my-color: red;
$mBox1: rgb(218, 218, 38);
$mBox2: rgb(195, 195, 7);
$mBox3: rgb(238, 238, 96);
$m2Box1: rgb(218, 131, 146);
$m2Box2: rgb(216, 20, 52);
$m2Box3: rgb(240, 195, 203);
$m3Box1: rgb(122, 122, 223);
$m3Box2: rgb(33, 33, 226);
$m3Box3: rgb(153, 153, 218);
$m4Box1: rgb(184, 84, 184);
$m4Box2: rgb(104, 6, 104);
$m4Box3: rgb(236, 166, 236);
